<!DOCTYPE html>
<html>
  <head>
    <title>Create Task</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
          <li><a href="{% url 'list_projects' %}">My projects</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h1>Create a new task</h1>
        <form method="post">
          {% csrf_token %}
          <div>
            <label for="id_name">Name:</label>
            <input
              type="text"
              id="id_name"
              name="name"
              maxlength="200"
              required
            />
          </div>
          <div>
            <label for="id_start_date">Start Date:</label>
            <input
              type="datetime-local"
              id="id_start_date"
              name="start_date"
              required
            />
          </div>
          <div>
            <label for="id_due_date">Due Date:</label>
            <input
              type="datetime-local"
              id="id_due_date"
              name="due_date"
              required
            />
          </div>
          <div>
            <label for="id_project">Project:</label>
            <select id="id_project" name="project" required>
              {% for project in projects %}
              <option value="{{ project.id }}">{{ project.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <label for="id_assignee">Assignee:</label>
            <select id="id_assignee" name="assignee" required>
              {% for user in users %}
              <option value="{{ user.id }}">{{ user.username }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit">Create</button>
        </form>
      </div>
    </main>
  </body>
</html>
