{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Create Project</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
          <li><a href="{% url 'list_projects' %}">My projects</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      <div>
        <h1>Create a new project</h1>
        <form method="post" action="{% url 'create_project' %}">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Create</button>
        </form>
      </div>
    </main>
  </body>
</html>
